Flask~=2.0.2
flask-restx
python-json-logger
# DB
flask-marshmallow
flask-sqlalchemy
marshmallow-sqlalchemy
gunicorn
# QA tools
flake8
# Monitoring
newrelic
#Testing
pytest
Flask-Testing
coverage
psycopg2-binary
email-validator
flask_wtf
apispec
apispec_webframeworks

SQLAlchemy~=1.4.26
marshmallow~=3.13.0
click~=8.0.3
textwrap3
flask_jwt_extended
flask-bcrypt
validators~=0.18.2
tldextract~=3.1.2
ipaddress~=1.0.23

Werkzeug~=2.0.1
slugify~=0.0.1
redis~=3.5.3

requests~=2.26.0
cryptography~=2.9.2
flask_cors
pdfkit~=0.6.1
chevron~=0.14.0

flask_limiter
python-dotenv~=0.19.2
psycopg2~=2.9.1
sentry-sdk[flask]
requests-random-user-agent
stripe
tld
Flask-And-Redis
validators
authlib
google-auth
google-api-python-client
flask-sse
psycogreen
gevent
